<div class="nav-masthead bg-white fixed-top no-print">
    <nav class="nav">
      <span class="brand-logo form-signin"><img src="assets/images/ebryx-logo.png" width="118" height="27" alt="Ebryx" title="Ebryx" /></span>
    </nav>
</div>

<div class="container-fluid">
  <div class="content-container">
    <form class="form-signin">
      <h3>{{ title }}</h3>
      <div class="form-group">            
        <input type="email" id="email" class="form-control" id="formGroupExampleInput" placeholder="Email Address">
      </div>
      <div class="form-group">            
        <input type="password" id="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="button" id="submit" class="btn btn-primary btn-block">Sign in <fa [name]="'sign-in'"></fa></button>
        <button type="button" id="signupSubmit" class="btn btn-primary btn-block">Sign Up <fa [name]="'user-plus'"></fa></button>
      </div>
    </form>
  </div>
</div>