<div class="nav-masthead bg-white fixed-top">
        <nav class="nav">
          <span class="brand-logo form-signin"><img src="assets/images/ebryx-logo.png" width="118" height="27" alt="Ebryx" title="Ebryx" /></span>
        </nav>
    </div>
    <div class="container-fluid">
      <div class="content-container">
        <form class="form-signin">
          <h3><%= title %></h3>
          <div class="form-group">            
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="form-group">            
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
          <div class="form-group">            
            <input type="email" class="form-control" id="email" placeholder="Email Address">
          </div>
          <div class="form-group">            
            <select multiple class="form-control" id="role" size="5">
              <option>Admin</option>
              <option>Team Lead</option>
              <option>Junior Software Engineer</option>
              <option>Software Engineer</option>
              <option>Senior Software Engineer</option>
            </select>
          </div>           
          <div class="form-group">            
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="button" id="submit" class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </form>
      </div>
  </div>