    <app-header></app-header>
    <div class="container-fluid">
      <div class="content-container">
          <h2 class="heading">Projects</h2>
          <span class="pull-right task-link"><a href="javascript:void(0);">Add New Project</a></span>
         <div class="table-responsive">
         <table class="table bg-white">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Documents</th>
              <th>Team lead</th>
              <th>Members</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a class="project_detail" href="javascript:void(0);">xyz</a></td>
              <td>Projects xyz</td>
              <td><a href="#">etc.pdf</a>,<a href="#">etc.doc</a></td>
              <td>Salman Khan</td>
              <td>Saqib Dogar, Kabir Sagheer</td>
              <td><a href="project.html"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a class="project_detail" href="javascript:void(0);">pqr</a></td>
              <td>Projects pqr</td>
              <td><a href="#">etc.pdf</a>,<a href="#">etc.doc</a></td>
              <td>Salman Khan</td>
              <td>Saqib Dogar, Kabir Sagheer</td>
              <td><a href="project.html"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><a class="project_detail" href="javascript:void(0);">xyz</a></td>
              <td>Projects cty</td>
              <td><a href="#">etc.pdf</a>,<a href="#">etc.doc</a></td>
              <td>Salman Khan</td>
              <td>Saqib Dogar, Kabir Sagheer</td>
              <td><a href="project.html"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><a class="project_detail" href="javascript:void(0);">007</a></td>
              <td>Projects 007</td>
              <td><a href="#">etc.pdf</a>,<a href="#">etc.doc</a>,<a href="#">etc.ppt</a></td>
              <td>Salman Khan</td>
              <td>Saqib Dogar, Kabir Sagheer</td>
              <td><a href="project.html"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>